<a href="https://colab.research.google.com/github/desmondg19/CLPSProject2/blob/main/RI_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [4]:
Download_Data= drive.CreateFile({'id':'1t9lw59CK9ET3MIEVIp2WrZyqXC_0KW2R'})
Download_Data.GetContentFile('COVID-19 Rhode Island Data - Summary.csv')
RI_Data_Summary=pd.read_csv('COVID-19 Rhode Island Data - Summary.csv')
RI_Data_Summary.head()

                                       Last updated:  4/9/2021
0  Daily number of positive tests (may count peop...       494
1  3-day average of daily number of positive test...       546
2  Cumulative positive tests (may count people mo...    167334
3  Daily number of negative tests (may count peop...     17122
4  Cumulative negative tests (may count people mo...   3512737

In [12]:
Download_Data= drive.CreateFile({'id':'1l8HabO1Jua2aylMYNgpX4wuct4UpIWJv'})
Download_Data.GetContentFile('COVID-19 Rhode Island Data - Demographics.csv')
RI_Data_Demographics=pd.read_csv('COVID-19 Rhode Island Data - Demographics.csv', skiprows=1)
RI_Data_Demographics.info()
RI_Data_Demographics.head()

<class 'pandas.core.frame.DataFrame'>
Index: 57 entries, Age Group to Last Updated:
Data columns (total 14 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    (Positive and Negative)"                 47 non-null     object
 1   Unnamed: 1                                45 non-null     object
 2   Cases                                     46 non-null     object
 3   Unnamed: 3                                45 non-null     object
 4   Hospitalizations                          46 non-null     object
 5   Unnamed: 5                                45 non-null     object
 6   Deaths                                    46 non-null     object
 7   Unnamed: 7                                45 non-null     object
 8   All People At Least Partially Vaccinated  46 non-null     object
 9   Unnamed: 9                                45 non-null     object
 10  All People Fully Vaccinated               46 non-null     object
 11  Unnamed: 11                               45 non-null     object
 12  Total Vaccine Doses Administered          46 non-null     object
 13  Unnamed: 13                               45 non-null     object
dtypes: object(14)
memory usage: 6.7+ KB

           (Positive and Negative)"  ... Unnamed: 13
Age Group                 N=794,928  ...         NaN
0-4                           26290  ...          0%
5-9                           34482  ...          0%
10-14                         35939  ...          --
15-18                         40934  ...          1%

[5 rows x 14 columns]

In [13]:
RI_Data_Demographics.describe()

        (Positive and Negative)"  ... Unnamed: 13
count                         47  ...          45
unique                        31  ...          16
top                           --  ...          --
freq                          17  ...          23

[4 rows x 14 columns]